!!! XML
!!!
%html
  %header
    %title #{@account}のリスト
  %body
    .main
      %h1.title #{@account}のリスト
      %h2 再生リスト
      %dl
      - @entries.each do |e|
        %dt
          %a{:href => "/playlist/#{@account}/#{e.playlist_id}/"} #{e.title}
          %span= e.updated.strftime('%Y-%m-%d %H:%M:%S')
        %dd
          %span= e.content 
