!!! XML
!!!
%html
  %header
    %title #{@account}トップ
  %body{:style => 'font-size: 30px'}
    .main
      %div.title ■#{h @account}トップ
      %ul
        %li
          %a{:href => "search_top?account=#{u @account}"} キーワード検索
        %li
          %a{:href => "favorites?account=#{u @account}"} お気に入り
      %div 再生リスト
      %ul
        - @entries.each do |e|
          %li
            %a{:href => "playlist?account=#{u @account}&playlist_id=#{e.playlist_id}"} #{e.title}
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1524372-2']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();



