!!! XML
!!!
%html
  %header
    %title #{@account}のリスト
  %body
    .main
      .title #{@account}のリスト
      %br
      - @entries.each do |e|
        %p= e.href
      %p= @data.class
      %p= @data.inspect
  
