!!! XML
!!!
%html
  %header
    %title #{@account}のリスト
  %body{:style => 'font-size: 30px'}
    .main
      %div.title ■#{@account}のリスト
      %ul
        %li
          %a{:href => "favorites?account=#{@account}"} お気に入り
      %div 再生リスト
      %ul
        - @entries.each do |e|
          %li
            %a{:href => "playlist?account=#{@account}&playlist_id=#{e.playlist_id}"} #{e.title}


