!!! XML
!!!
%html
  %header
    %title #{@account}のお気に入り
  %body{:style => 'font-size: 30px'}
    .main
      %div.title ■#{@account}のお気に入り
      %div
        - if @favorites.prev_url
          %a{:href => "?account=#{@account}&url=#{u @favorites.prev_url}"} &lt;前
        - if @favorites.next_url
          %a{:href => "?account=#{@account}&url=#{u @favorites.next_url}"} 次&gt;
      %ol
        - @favorites.entries.each do |f|
          %li
            %a{:href => "play?account=#{@account}&url=#{u f.href}"}
              %img{:src => f.thumbnail}
            %a{:href => "play?account=#{@account}&url=#{u f.href}"} #{f.title.shorten}
      %div
        - if @favorites.prev_url
          %a{:href => "?account=#{@account}&url=#{u @favorites.prev_url}"} &lt;前
        - if @favorites.next_url
          %a{:href => "?account=#{@account}&url=#{u @favorites.next_url}"} 次&gt;

