!!! XML
!!!
%html
  %header
    %title #{@account}のお気に入り
  %body{:style => 'font-size: 30px'}
    .main
      %div.title ■#{@account}のお気に入り
      %dl
        - @favorites.each do |f|
          %dt
            %a{:href => "play?account=#{@account}&url=#{u f.href}"} #{f.title.shorten}
            !!!%span= e.updated.strftime('%Y-%m-%d %H:%M:%S')
          %dd
            !!!%span= e.content 

