!!! XML
!!!
%html
  %header
    %title #{@account}のお気に入り
  %body{:style => 'font-size: 30px'}
    .main
      %div.title ■#{@account}のお気に入り
      %ol
        - @favorites.each do |f|
          %li
            %a{:href => "play?account=#{@account}&url=#{u f.href}"} #{f.title.shorten}

