!!! XML
!!!
%html
  %header
    %title #{@account}のお気に入り
  %body{:style => 'font-size: 30px'}
    .main
      %div.title ■#{h @account}のお気に入り
      %div
        %a{:href => "dashboard?account=#{u @account}"} #{h @account}トップに戻る
        %span ||
        - if @favorites.prev_url
          %a{:href => "?account=#{@account}&url=#{u @favorites.prev_url}"} &lt;前のページ
        - if @favorites.next_url
          %a{:href => "?account=#{@account}&url=#{u @favorites.next_url}"} 次のページ&gt;
      %table
        - @favorites.entries.each do |f|
          %tr
            %td
              - if (f.href)
                %a{:href => "play?account=#{@account}&url=#{u f.href}"}
                  %img{:src => f.thumbnail}
            %td
              - if (f.href)
                %a{:href => "play?account=#{@account}&url=#{u f.href}"} #{h f.title.shorten}
              - else
                %span= h f.title.shorten
      %div
        %a{:href => "dashboard?account=#{u @account}"} #{h @account}トップに戻る
        %span ||
        - if @favorites.prev_url
          %a{:href => "?account=#{@account}&url=#{u @favorites.prev_url}"} &lt;前のページ
        - if @favorites.next_url
          %a{:href => "?account=#{@account}&url=#{u @favorites.next_url}"} 次のページ&gt;
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1524372-2']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();



