!!! XML
!!!
%html{:style => 'height: 100%; width: 100%;'}
  %header
    %title #{@title}
    %link{:href => "css/layout.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
  %body
    .hidden_area
      = @video.url
    %div
      %table
        %tr
          %td
            %div.video_title
              = @video.title
            %div{:id => "ytapiplayer"}
          %td{:style => "vertical-align: top"}
            %ul
              %li
                %a{:href => "dashboard?account=#{u @account}"} #{h @account}トップに戻る
              %li
                %a{:href => "favorites?account=#{u @account}&url=#{u @favorite_url}"} お気に入りに戻る
              %li
                %a{:href => "?account=#{u @account}&position=#{u (@position.to_i - 1).to_s}&reverse=1", :id => "prev_url"} &lt;前の動画
              %li
                %a{:href => "?account=#{u @account}&position=#{u (@position.to_i + 1).to_s}", :id => "next_url"} 次の動画&gt;
              %li
                リピート対象
                %br
                %select{:id => "repeat"}
                  %option{:value => 0} 動画リスト
                  %option{:value => 1} この動画
                  %option{:value => 2} しない
            != "<input type=\"hidden\" id=\"video_url\" value=\"#{@video.href + '&autoplay=1&ap=%2526fmt%3D18&enablejsapi=1&playerapiid=ytplayer'}\">"
            %input{:type => "hidden", :id => "duration", :value => "#{h @video.duration}"}

    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "js/cookie.js"}
    %script{:type => "text/javascript", :src => "js/swfobject.js"}
    %script{:type => "text/javascript", :src => "js/ytplayer.js"}
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1524372-2']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();


