!!! XML
!!!
%html
  %header
    %title 再生リスト: #{@title}
  %body
    .main
      %h1 再生リスト: #{@title}
      %dl
      - @entries.each do |e|
        %dt
          - if (e.href)
            %a{:href => "play?url=#{u e.href}/"} #{e.title}
          - else
            %span= e.title


