!!! XML
!!!
%html
  %header
    %title 再生リスト: #{@title}
  %body{:style => 'font-size: 30px'}
    .main
      %div 再生リスト: #{@title}
      %ol
        - @entries.each do |e|
          %li
            - if (e.href)
              %a{:href => "play?url=#{u e.href}"}
                %img{:src => e.thumbnail}
              %a{:href => "play?url=#{u e.href}"} #{e.title.shorten}
            - else
              %span= e.title.shorten


