!!! XML
!!!
%html
  %header
    %title 再生リスト: #{@playlist.title}
  %body{:style => 'font-size: 30px'}
    .main
      %div ■再生リスト: #{@playlist.title}
      %div
        %a{:href => "dashboard?account=#{u @account}"} #{h @account}トップに戻る
        %span ||
        - if @playlist.prev_url
          %a{:href => "?account=#{u @account}&url=#{u @playlist.prev_url}"} &lt;前のページ
        - if @playlist.next_url
          %a{:href => "?account=#{u @account}&url=#{u @playlist.next_url}"} 次のページ&gt;
      %table
        - @playlist.entries.each do |e|
          %tr
            %td
              - if (e.href)
                %a{:href => "play_playlist?account=#{u @account}&playlist_id=#{u @playlist_id}&position=#{u e.position}"}
                  %img{:src => e.thumbnail}
            %td
              - if (e.href)
                %a{:href => "play_playlist?account=#{u @account}&playlist_id=#{u @playlist_id}&position=#{u e.position}"} #{h e.title.shorten}
              - else
                %span= h e.title.shorten
      %div
        %a{:href => "dashboard?account=#{u @account}"} #{h @account}トップに戻る
        %span ||
        - if @playlist.prev_url
          %a{:href => "?account=#{u @account}&url=#{u @playlist.prev_url}"} &lt;前のページ
        - if @playlist.next_url
          %a{:href => "?account=#{u @account}&url=#{u @playlist.next_url}"} 次のページ&gt;
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1524372-2']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();


