!!! XML
!!!
%html
  %header
    %title 再生リスト: #{@playlist.title}
  %body{:style => 'font-size: 30px'}
    .main
      %div 再生リスト: #{@playlist.title}
      %div
        %a{:href => "dashboard?account=#{u @account}"} #{h @account}のリスト
        %span ||
        - if @playlist.prev_url
          %a{:href => "?account=#{u @account}&url=#{u @playlist.prev_url}"} &lt;前のページ
        - if @playlist.next_url
          %a{:href => "?account=#{u @account}&url=#{u @playlist.next_url}"} 次のページ&gt;
      %ol
        - @playlist.entries.each do |e|
          %li
            - if (e.href)
              %a{:href => "play?account=#{u @account}&url=#{u e.href}"}
                %img{:src => e.thumbnail}
              %a{:href => "play?account=#{u @account}&url=#{u e.href}"} #{e.title.shorten}
            - else
              %span= e.title.shorten
      %div
        - if @playlist.prev_url
          %a{:href => "?account=#{u @account}&url=#{u @playlist.prev_url}"} &lt;前のページ
        - if @playlist.next_url
          %a{:href => "?account=#{u @account}&url=#{u @playlist.next_url}"} 次のページ&gt;

