!!! XML
!!!
%html{:style => 'height: 100%; width: 100%;'}
  %header
    %title #{@title}
  %body{:style => 'margin: 0px; padding: 0px; border: 1px black solid; font-size: 30px; height: 100%; width: 100%;'}
    %div{:style => 'margin: 0px; padding: 0px; height: 100%; width: 100%;'}
      %table
        %tr
          %td
            %div{:id => "ytapiplayer"}
          %td{:style => "vertical-align: top"}
            %ul
              %li
                %a{:href => "dashboard?account=#{u @account}"} #{h @account}トップに戻る
              %li
                %a{:href => "playlist?account=#{u @account}&url=#{u @playlist_url}"} 再生リストに戻る
              %li
                %a{:href => "?account=#{u @account}&playlist_id=#{u @playlist_id}&position=#{u (@position.to_i - 1).to_s}&reverse=1", :id => "prev_url"} &lt;前の動画
              %li
                %a{:href => "?account=#{u @account}&playlist_id=#{u @playlist_id}&position=#{u (@position.to_i + 1).to_s}", :id => "next_url"} 次の動画&gt;
            != "<input type=\"hidden\" id=\"video_url\" value=\"#{@playlist_video.href + '&autoplay=1&ap=%2526fmt%3D18&enablejsapi=1&playerapiid=ytplayer'}\">"
            %input{:type => "hidden", :id => "duration", :value => "#{h @playlist_video.duration}"}
    %script{:type => "text/javascript", :src => "js/swfobject.js"}
    %script{:type => "text/javascript", :src => "js/ytplayer.js"}
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1524372-2']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();


